<%- include('./partials/header')%>

<div class="mainSections">
    <% prudectData.forEach(picture => { %>
        
        <figure class="grid">
            <a href="/single/<%=picture.id%>">
                <img src=<%=picture.url%> alt="">
                </a>
            <figcaption class="article"> 
                <div>
                <p>
                    <%=picture.articlename%>
                </p>
                <p>
                    <%=picture.company%>
                </p>
            </div>

                <p>
                    
                    <%=picture.price%>
                </p>
            </figcaption>
    
        </figure>
        <%})%>
</div>
<%- include('./partials/footer')%>
